#root {
  margin: 0 auto;
  text-align: center;
}

.leaflet-tile-container {
  filter: grayscale(100%);
}

.leaflet-container {
  z-index: 40;
}

.leaflet-container path {
  mix-blend-mode: hard-light;
}
